<!doctype html>
<html>
<head>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
</head>

<body>
	<div ng-app="appName">
		<div ng-controller="appCtrl">
			First Name:<br>
			<input type="text" ng-model="fn">
			<br><br> Last Name:<br>
			<input type="text" ng-model="ln">
			<br><br>
			<a href="#" ng-click="changeName()">change</a><br> Full Name: {{fn + " " + ln}}<br> Full Name: {{full()}}<br>

			<ul>
				<li ng-repeat="x in names">
					{{ x.name + ', ' + x.country }}
				</li>
			</ul>
		</div>
		<div>
			<input type="text" ng-model="fn"> {{fn}}
		</div>
		<hr>
		<wsup-U></wsup-U>
		<div wsup-U></div>
		<div class="wsup-U"></div>
		<!-- directive: wsup-U -->
	</div>

	<script>
		var app = angular.module('appName', []);

		app.controller('appCtrl', function($scope) {
			$scope.fn = "Jackie";
			$scope.ln = "Chan";
			$scope.full = function() {
				return $scope.fn + " " + $scope.ln;
			};
			$scope.names = [{
					name: 'Jani',
					country: 'Norway'
				},
				{
					name: 'Hege',
					country: 'Sweden'
				},
				{
					name: 'Kai',
					country: 'Denmark'
				}
			];
			$scope.changeName = function() {
				$scope.fn = "Nelly";
			};
		});

		app.run(function($rootScope) {
			$rootScope.fn = 'blue';
		});

		app.directive('wsupU', function() {
			console.log('WASSSSSUUUUUPPPPP!!!');
		})

		//console.log(angular.element($0).scope().fn);
	</script>
</body>
</html>
