<!doctype html>
<html>

<head>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
</head>

<body>
	<div ng-app="appName">

		<div ng-controller="c1">
			<p>data: {{d}}</p>
			<p>config: {{c}}</p>
			<p>headers: {{h}}</p>
			<p>status: {{s}}</p>
			<p>status text: {{t}}</p>
			<p>confirmation: {{m}}</p>
			<h1 ng-repeat="(k,v) in d">{{$index}} - {{k}}: {{v.name}}, {{v.country}}</h1>
			<form>
				<select ng-model="b" ng-options="v.name for (k,v) in d"></select>
				<select ng-model="c" ng-options="k as v.name for (k,v) in d"></select>
			</form>
			<p>selected = {{b}}{{b.name}}</p>
			<p>selected = {{c}}{{v.name}}</p>


		</div>
		<hr>
		<div ng-controller="c2">{{myHeader}}</div>
		<div ng-controller="c3"><h1>{{theTime}}</h1></div>

	</div>


	<script>
		var app = angular.module('appName', []);
		app.controller('c1', function($scope, $http) {
			$http.get("test.json")
				.then(function(response) {
					$scope.d = response.data;
					$scope.c = response.config;
					$scope.h = response.headers;
					$scope.s = response.status;
					$scope.t = response.statusText;
					$scope.m = "got it";
				}, function(response) {
					//handles error
					$scope.d = response.data;
					$scope.c = response.config;
					$scope.h = response.headers;
					$scope.s = response.status;
					$scope.t = response.statusText;
					$scope.m = "didn't get it";
				});
			});
		app.controller('c2', function($scope, $timeout) {
			$scope.myHeader = "Hello World!";
			$timeout(function() {
				$scope.myHeader = "How are you today?";
			}, 2000);
		});
		app.controller('c3', function($scope, $interval) {
			$scope.theTime = new Date().toLocaleTimeString();
			$interval(function () {
				$scope.theTime = new Date().toLocaleTimeString();
			}, 1000);
		});
	</script>

</body>
</html>
