<!doctype html>
<html>

<head>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
</head>

<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		<h1 ng-mousemove="myFunc($event)">Mouse Over Me!</h1>
		<p>Coordinates: {{x + ', ' + y}}</p>

		<hr>

		<button ng-click="count = count + 1">Click me!</button>
		<p>{{ count }}</p>

		<hr>

		<input type="checkbox" ng-model="change" ng-change>
		<p>{{change}}</p>

		<textarea ng-model="someData" ng-change="check()"></textarea>
		<p>{{cc}}</p>
		<p>{{cb}}</p>
		<p>{{ca}}</p>

		<button ng-click="reset()">RESET</button>


		<form>
			Check to show a header:
			<input type="checkbox" ng-model="myVar">
		</form>
		<h1 ng-show="myVar">My Header</h1>


		<form>
			Pick a topic:
			<input type="radio" ng-model="v2" value="dogs">Dogs
			<input type="radio" ng-model="v2" value="tuts">Tutorials
			<input type="radio" ng-model="v2" value="cars">Cars
		</form>
		<form>
			Select a topic:
			<select ng-model="v2">
    <option value="">
    <option value="dogs">Dogs
    <option value="tuts">Tutorials
    <option value="cars">Cars
  </select>

		</form>

		<div ng-switch="v2">
			<div ng-switch-when="dogs">
				<h1>Dogs</h1>
				<p>Welcome to a world of dogs.</p>
			</div>
			<div ng-switch-when="tuts">
				<h1>Tutorials</h1>
				<p>Learn from examples.</p>
			</div>
			<div ng-switch-when="cars">
				<h1>Cars</h1>
				<p>Read about cars.</p>
			</div>
		</div>

	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
			$scope.count = 0;
			$scope.myFunc = function(myE) {
				$scope.x = myE.clientX;
				$scope.y = myE.clientY;
			}
			$scope.change = true;

			$scope.cc = 0;
			$scope.cb = true;
			$scope.ca = "even";

			$scope.check = function() {
				$scope.cc++;
				$scope.cb = !$scope.cb;
				if ($scope.cb == false) {
					$scope.ca = "odd";
				} else {
					$scope.ca = "even";
				}
				if ($scope.someData.indexOf('bob') > -1) {
					alert("bob entered");
				}
			};
			$scope.reset = function() {
				$scope.someData = "";
			};
			$scope.reset();
		});
	</script>
</body>
</html>
