<!doctype html>
<html ng-app="app">

<head>
	<!-- add angular script, then your own -->
	<script src="angular.min.js"></script>
	<script src="angular-route.min.js"></script>
</head>

<body>
<input type=text ng-model=inbox.searchText ng-change=inbox.searchTextChanged()>
<div ng-repeat="item in inbox.items | filter:{text: inbox.searchText}">
 {{ item.text }}
</div>
	<script>
		
		
'use strict';

angular.module('app', ['ui.router']).config(
function($stateProvider, $urlRouterProvider) {
  $stateProvider.state('inbox', {
    url: '/inbox?search',
    template: '<inbox></inbox>',
    params: {
      search: {
        value: '',
        squash: true
      }
    },
    reloadOnSearch: false
  });

  $urlRouterProvider.otherwise('/inbox');
});
		

angular.module('app').directive('inbox', function() {
  return {
    templateUrl: 'inbox.directive.html',
    scope: {},
    bindToController: true,
    controllerAs: 'inbox',
    controller: function($state, $scope) {
      console.log('controller load'); // Should only happen once

      var vm = this;
      vm.searchText = $state.params.search;

      vm.searchTextChanged = function() {
        $state.go('.', {search: vm.searchText}, {notify: false});
      };

      $scope.$on('$locationChangeSuccess', function() {
        vm.searchText = $state.params.search;
      });

      vm.items = [
        {text: 'Alice'},
        {text: 'Bob'},
        {text: 'Charlie'},
        {text: 'David'},
        {text: 'Eve'},
        {text: 'Frank'},
        {text: 'George'},
        {text: 'Howard'},
        {text: 'Ian'},
        {text: 'Jack'}
      ];
    }
  };
});
	</script>
</body>

</html>
